# TF deep learning model for MNIST digits

Notebook conayins the code for a deep learning model constructed with the Keras wrapper for tensorflow. Model is designed to predict the MNIST digits data from the kaggle competition.

In [4]:
from pathlib import Path
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras.callbacks import EarlyStopping
from keras import backend as bk
from keras.models import save_model, load_model

In [5]:
bk.tensorflow_backend._get_available_gpus()

[]

In [22]:
#Set up dirs for project
base_dir= Path('/home/darren/Documents/DS/projects/MNIST_digit')
interim_data_dir= base_dir/'data'/'interim'

In [23]:
train_data= pd.read_csv(interim_data_dir/'train_data_std.csv', header= None)
train_data.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
train_labels= pd.read_csv(interim_data_dir/'train_labels.csv', header= None)
train_labels.head()

   0
0  1
1  0
2  1
3  4
4  0

In [25]:
#build the baseline deep model
base= Sequential()
base.add(Dense(25, activation= 'relu', input_shape= (784,)))
base.add(Dense(25, activation= 'relu'))
base.add(Dense(10, activation= 'softmax'))

In [ ]:
#compiling the model
base.compile(optimizer='adam', loss= 'categorical_crossentropy', metrics=['accuracy'])

In [ ]:
#fitting the model
stopping= EarlyStopping(patience=2)
base.fit(train_data, train_labels, epochs=20 validation_split=0.25, callbacks=[stopping])

In [ ]:
base.save(~/'base_model.h5')