# TF model prediction MNIST digits

Notebook conayins the code for prediction using the base_model and base_plus_model trained on the AWS GPU.

In [1]:
from pathlib import Path
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow
from keras.models import save_model, load_model

Using TensorFlow backend.

In [2]:
Path.cwd()

PosixPath('/home/darren/Documents/DS/projects/MNIST_digit/notebooks')

In [3]:
#Set up dirs for project
base_dir= Path.cwd().parents[0]
raw_data_dir= base_dir/'data'/'raw'
interim_data_dir= base_dir/'data'/'interim'
model_dir= base_dir/'models'

In [4]:
test_data= pd.read_csv(raw_data_dir/'test.csv')
test_data.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
test_data_std= test_data/254
test_data_std.describe()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,...,28000.000000,28000.000000,28000.000000,28000.000000,28000.000000,28000.0,28000.0,28000.0,28000.0,28000.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000648,0.000288,0.000110,0.000044,0.000026,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.021548,0.014239,0.007140,0.004745,0.003179,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.996063,1.000000,0.759843,0.736220,0.468504,0.0,0.0,0.0,0.0,0.0

In [6]:
test_data_vals= test_data_std.values

In [7]:
os.chdir(model_dir)
Path.cwd()

PosixPath('/home/darren/Documents/DS/projects/MNIST_digit/models')

In [8]:
base_plus_model= load_model('base_plus_model.h5')

In [17]:
preds= base_plus_model.predict_classes(test_data_vals)

In [20]:
pred_data= pd.DataFrame({'ImageId': range(1, 28001)})

In [22]:
pred_data['label']= preds

In [23]:
pred_data.head()

   ImageId  label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3

In [24]:
pred_data.to_csv(interim_data_dir/'base_plus_pred.csv', index=False)